.env
wp-content/plugins/
wp-content/uploads/
wp-content/languages/
wp-content/upgrade/
wp-content/w3tc-config/
wp-content/cache/
wp-content/advanced-cache.php
node_modules/
vendor/
.DS_Store.env.example
