// ===================================
// ブレークポイント変数
// ===================================
// レスポンシブデザイン用のブレークポイント定義。実際の適用は、assets/scss/mixins/_mixins.scss

// ブレークポイント数値変数
$xs-num: 320px;
$sm-num: 576px;
$md-num: 768px;
$lg-num: 992px;
$xl-num: 1200px;
$xxl-num: 1391px;