// ===================================
// カラー変数
// ===================================
// サイト全体で使用するカラーパレット

$color-main: #ca7f13;
$color-accent1: #54372d;
$color-accent2: #949e33;
$color-bg: #f9f8f6;
$color-black: #333333;
$color-white: #fff;